.post {
  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }
  > div {
    gap: 1.5rem;
    display: grid;
    padding-top: 2rem;
    grid-template-columns: auto 14rem;
    border-top: 1px solid var(--gray-100);
  }
  time {
    display: block;
    padding: 1rem 0 0.5rem;
    font-size: 0.875rem;
    color: var(--green-800);
  }
  .content {
    line-height: 1.5;
    img {
      margin: 0 auto;
      max-width: 100%;
      border-radius: 0.75rem;
      & + p {
        margin: 0.5rem 0 1rem;
        text-align: center;
      }
    }
    ul {
      list-style: disc;
      margin: 1rem 0 1rem;
      padding-left: 1.5rem;
      li::marker {
        color: var(--green);
      }
      li + li {
        margin-top: 0.5rem;
      }
    }
    h2 {
      font-size: 2rem;
      margin: 2rem auto;
      text-align: center;
    }
    h3 {
      font-size: 1.25rem;
      text-align: center;
    }
  }
  .supporters ul {
    gap: 1rem;
    display: grid;
    list-style: none;
    li {
      height: 10rem;
      position: relative;
      img {
        border-radius: 0.75rem;
      }
    }
    & + .adsGoogle {
      display: block;
      margin-top: 1.5rem;
      background: var(--gray-500);
      border-radius: 0.75rem;
    }
  }
  @media (max-width: 840px) {
    h1 {
      font-size: 2.5rem;
    }
    > div {
      grid-template-columns: 1fr;
    }
    .supporters ul {
      grid-template-columns: repeat(4, 1fr);
      li {
        height: 6rem;
      }
    }
  }
}
