.post {
  h1 {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
  }
  > div {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: auto 14rem;
  }
  .content {
    margin-top: 2rem;
    line-height: 1.5;
    img {
      margin: 0 auto;
      max-width: 100%;
      border-radius: 0.75rem;
      & + p {
        margin: 0.5rem 0 1rem;
        text-align: center;
      }
    }
    ul {
      padding-left: 1.5rem;
      margin: 1rem 0 1rem;
      li::marker {
        color: var(--green);
      }
      li + li {
        margin-top: 0.5rem;
      }
    }
    h2 {
      font-size: 2rem;
      margin: 2rem auto;
      text-align: center;
    }
    h3 {
      font-size: 1.25rem;
      text-align: center;
    }
  }
  .supporters {
    margin-top: 2rem;
    ul {
      gap: 1rem;
      display: grid;
      list-style: none;
      li {
        height: 10rem;
        position: relative;
        img {
          border-radius: 0.75rem;
        }
      }
      & + .adsGoogle {
        display: block;
        margin-top: 1.5rem;
        background: var(--gray-500);
        border-radius: 0.75rem;
      }
    }
  }
}
@media (max-width: 840px) {
  .post h1 {
    font-size: 2rem;
  }
  .post > div {
    grid-template-columns: 1fr;
  }
  .post .supporters ul {
    grid-template-columns: repeat(4, 1fr);
    li {
      height: 6rem;
    }
  }
}
