.posts {
  gap: 1.5rem;
  display: grid;
  padding-top: 3rem;
  grid-template-columns: repeat(2, 1fr);
  a {
    display: grid;
    padding: 0.75rem;
    column-gap: 1rem;
    grid-template-areas:
      'image time'
      'image strong'
      'image p';
    grid-template-rows: auto 1fr 3.5rem;
    border-radius: 0.75rem;
    background: var(--white);
    &:hover strong {
      color: var(--green);
    }
    time {
      font-size: 0.875rem;
      color: var(--gray-200);
      margin-bottom: 0.75rem;
    }
    strong {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: var(--gray-700);
      transition: color 0.2s ease 0s;
    }
    strong,
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
    div {
      width: 14rem;
      height: 10rem;
      grid-area: image;
      position: relative;
      img {
        border-radius: 0.75rem;
      }
    }
    p {
      -webkit-line-clamp: 3;
    }
  }
  & + div {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-100);
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
