.header {
  width: 100%;
  background: var(--white);
  .nav {
    height: 5rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    ul {
      list-style: none;
      display: flex;
      gap: 0.5rem;
      li a {
        display: block;
        padding: 0.75rem;
        font-weight: 500;
        transition: color 0.2s ease 0s;
        &:hover,
        &.active {
          color: var(--green);
        }
      }
    }
    .mobileButton {
      height: 2rem;
      width: 1.5rem;
      margin-right: 1rem;
      position: relative;
      z-index: 100;
      div {
        position: relative;
        width: 100%;
        height: 3px;
        background: var(--gray-500);
        border-radius: 4px;
        transition: all 0.2s ease 0s;
      }
      > div::after,
      > div::before {
        content: '';
        left: 0;
        width: inherit;
        height: inherit;
        position: absolute;
        transition: inherit;
        border-radius: inherit;
        transform-origin: 50% 50%;
        background: var(--gray-500);
      }
      > div::before {
        top: -6px;
      }
      > div::after {
        top: 6px;
      }
    }
    .mobileButtonActive {
      > div {
        background: transparent;
      }
      > div::before,
      > div::after {
        background: var(--green);
      }
      > div::before {
        top: 0;
        transform: rotate(45deg);
      }
      > div::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
    .outsideClick {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      // background: var(--white);
    }
    .navMobile {
      top: 5.75rem;
      opacity: 0;
      right: 1rem;
      min-width: 10rem;
      visibility: hidden;
      position: absolute;
      z-index: 1;
      border-radius: 0.75rem;
      background: var(--white);
      transform: translateY(-8px);
      transition: all 0.2s ease 0s;
      ul {
        flex-direction: column;
        gap: 0;
        li + li {
          border-top: 1px solid var(--gray-100);
        }
      }
    }
    .navMobileActive {
      opacity: 1;
      visibility: initial;
      transform: translateY(0);
    }
  }
}
