.contact {
  margin-top: 2rem;
  form {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .wrapper,
    .wrapperTextarea {
      margin-bottom: 1rem;
      div {
        width: 100%;
        display: flex;
        overflow: hidden;
        border-radius: 0.75rem;
      }
      .label {
        display: block;
        padding-bottom: 0.5rem;
        span {
          color: #f64540;
        }
      }
      .input,
      .textarea {
        width: 100%;
        outline: none;
        display: block;
        color: inherit;
        padding: 0.75rem;
        border-radius: 0.75rem;
        background: var(--gray-100);
        border: 2px solid var(--gray-100);
        transition: all 0.2s ease 0s;
        &:hover,
        &:focus {
          border-color: var(--green);
        }
      }
      .textarea {
        resize: none;
        height: 10rem;
      }
    }
    .wrapperTextarea {
      grid-column: span 2;
    }
    .button {
      max-width: 8rem;
      padding: 0.75rem;
      color: var(--white);
      border-radius: 0.75rem;
      background: var(--green);
      transition: background 0.2s ease 0s;
      &:hover,
      &:focus {
        background: var(--dark-green);
      }
    }
  }
}
