.events {
  gap: 1rem;
  display: grid;
  padding-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
  a {
    padding: 1rem;
    border-radius: 0.75rem;
    background: var(--white);
    time {
      display: block;
      font-size: 1rem;
      font-weight: 500;
      color: var(--gray-100);
      margin-bottom: 0.5rem;
    }
    strong {
      overflow: hidden;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      color: var(--gray-700);
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      transition: color 0.2s ease 0s;
    }
    span {
      opacity: 0;
      gap: 0.5rem;
      display: flex;
      font-weight: 500;
      align-items: center;
      color: var(--green);
      font-size: 0.875rem;
      transform: translateX(-0.25rem);
      transition: all 0.2s ease 0s;
    }
    &:hover {
      span {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.noEvents {
  gap: 1rem;
  display: flex;
  line-height: 5rem;
  text-align: center;
  justify-content: center;
  h1 {
    font-size: 3.5rem;
  }
  span {
    font-size: 3.5rem;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    line-height: normal;
    font-size: 2.5rem;
  }
}
