* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fcfffa;
  --green: #4d993a;
  --gray-50: #eef2ed;
  --gray-100: #e2e6e1;
  --gray-200: #c8ccc7;
  --gray-500: #7e807d;
  --gray-700: #4c4d4b;
  --background: #f3f5f2;
  --dark-green: #448833;
  --light-green: #f0f9ee;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--gray-500);
  scroll-behavior: smooth;
}

body,
input,
select,
textarea,
button {
  font: 400 1rem 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

svg,
img,
time {
  display: block;
}

.block-img + p:not(.block-img) {
  text-align: center;
  margin: 0.5rem 0 1.5rem;
}
.block-img + .block-img {
  margin-top: 1.5rem;
}
p + .block-img {
  margin-top: 1.5rem;
}
